TOKEN=BotToken
DETA_KEY=DetaProjectKey

# Optional:
# TESTING_GUILD_ID="For development to add slash commands quicker."
# DETABASE_NAME="Name of deta base for multiple bases in one deta project."
# EVENT_STARTER_IDS="Ids for event starters. To start events, the bot needs the manage messages and manage roles permissions."
# PREFIX="Custom prefix for starting events and using the jishaku module. Defaults to b."
